$black: #00000f;
$blue: #3573ff;
$red: #ff3741;
$yellow: #ffca0c;
$light: #f1f5fe;
$white: #ffffff;


*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  scroll-behavior: initial;

  @media (max-width: 920px) {
    font-size: calc(100vw / 920 * 10);
  }

  @media (max-width: 640px) {
    font-size: calc(100vw / 640 * 10);
  }
}

body {
  position: relative;
  font-family: "Switzer-Variable";
  background: $black;
  width: 100%;
  font-weight: 400;
  overflow-y: overlay;
  //   overflow: hidden;

//   &:before {
// 	content: "";
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 0;
// 	pointer-events: none;
// 	background-position: 50%;
// 	background-image: url("../assets/grain-new.gif");
// 	pointer-events: none;
// 	mix-blend-mode: soft-light;
//     opacity: .1;

//   }

  //   &::before {
  //     top: -10rem;
  //     left: -10rem;
  //     width: 110%;
  //     height: 110%;
  //     z-index: 9;
  //     content: "";
  //     position: absolute;
  //     pointer-events: none;
  //     background-position: 50%;
  //     background-image: url("../assets/noise.png");
  //     pointer-events: none;
  //     animation: noise 1s steps(2) infinite;
  //   }
}

a {
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: transparent;
  user-select: none;
  pointer-events: none;
  backface-visibility: hidden;
}

.globe-svg {
	transform: rotate(45deg);
  }

.content {
  width: 100%;
  position: relative;
  overflow: hidden;

}

.wrapper {
  width: 149.6rem;
  max-width: 90%;
  margin: 0 auto;
}

.border-btn {
  padding: 1.5rem 3.5rem;
  border-radius: 45px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(19px);
  color: $white;
}

.hero-btn {
  margin-top: 6rem;
  will-change: transform, opacity;

  span {
    @extend %description-18;
    color: #fff;
    text-transform: capitalize;

    @media (max-width: 640px) {
      font-size: 14px !important;
    }
  }
}

.button {
  padding: 2.2rem 3.5rem;
  backdrop-filter: blur(19px);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 45px;



  @media (max-width: 640px) {
    padding: 15px 30px;
	
  }

  p {
    color: $white;
    @extend %description-18;
    font-weight: 400;
  }

  img {
    width: 3.6rem;
    margin-left: 5.4rem;

    @media (max-width: 640px) {
      width: 30px;
      margin-left: 30px;
    }
  }
}

.button.btn-white {
  background: #fff;
  color: black;

  p {
    color: #000;
  }

  img {
    filter: invert(1);
  }
}

.small-cap {
  @extend %description-14;
}

.label {
  @extend %description-14;
  color: $white;
  padding: 1.2rem 2.4rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: fit-content;
  margin-bottom: 4rem;
  opacity: 0;
  will-change: opacity, transform;
}

.circle-arrow {
  width: 13.2rem;
  height: 13.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ffffff;
  border-radius: 50%;
  flex-wrap: nowrap;

  svg {
    width: 100%;
    height: 100%;
  }
}

.white-section {
  position: relative;
  background: $light;
  margin: 0 3rem;
  border-radius: 20px;
  padding: 10rem 0 17rem 0;

  @media (max-width: 920px) {
    margin: 0 1.5rem;
  }
}

.blue-section {
	z-index: 2;
  position: relative;
  background: $blue;
  margin: 0 3rem;
  border-radius: 20px;
  padding: 10rem 0 17rem 0;

  @media (max-width: 920px) {
    margin: 0 1.5rem;
  }
}

#video {
  display: none;
}

.border {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px dashed #ffffff;
    width: var(--widthline, 0);
  }
}

.scroll-down {
  position: absolute;
  right: 0;
  bottom: 12rem;
  padding: 4rem 2.2rem 3rem 2.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2.2rem;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  opacity: 0;
  will-change: opacity;

  @media (max-width: 640px) {
    display: none;
  }

  img {
    margin-bottom: 3rem;
    will-change: opacity transform;
  }

  p {
    will-change: opacity transform;
    font-size: 14px;
    color: #fff;
    font-family: "Switzer-Variable";
    letter-spacing: 0.015em;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  pointer-events: none;
  backface-visibility: hidden;
  span {
    display: block;
    background: $black;
    height: calc(100vh / 4);
    transform-origin: top left;
    will-change: tranform;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 24px;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  display: none;
  background: rgba(0, 0, 0, 0);
  margin: 12px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 8px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: rgba(137, 134, 172, 0.3);
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 12px;
  border: 8px solid rgba(255, 255, 255, 0);
  background-clip: content-box;
  background-color: rgba(137, 134, 172, 0.5);
}

[data-animation="fade-up"] {
  .line {
    display: block;
    text-align: start;
    width: 100%;
    overflow: hidden;
    div {
      display: inline-block;
      translate: none;
      rotate: none;
      scale: none;
    }
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    transform: translate3d(-7rem, 0, 0);
  }
}
