.contact-hero {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &__inner {
    width: inherit;
    min-height: inherit;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    justify-content: center;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }

  &__title {
    h1 {
      width: 140rem;
      @extend %heading-123;
      position: relative;
      color: $white;
      text-align: center;

      div {
        height: fit-content;
        overflow: hidden;

        span {
          display: block;
        }
      }
    }
  }

  &__steps {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-self: flex-start;

    p {
      //   width: 95rem;
      color: rgba(255, 255, 255, 0.4);
      @extend %description-18;
      font-weight: 300;
      text-align: center;
    }
  }

  &__bg {
    position: absolute;
    top: -30rem;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    backface-visibility: hidden;
  }

  .label-contact {
    @extend %description-14;
    color: $white;
    padding: 1.2rem 2.4rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: fit-content;
    opacity: 0;
    will-change: opacity, transform;
  }
}

.step {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    margin-bottom: 9rem;
    width: 115rem;
    text-align: center;
    height: fit-content;
    overflow: hidden;

    h2 {
      @extend %heading-47;
      color: $white;
    }
  }

  &__form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;

    &__input {
      width: 33.333%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      input {
        width: 95%;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 12px;
        font-size: 16px;
        color: $white;
        margin-bottom: 3rem;

        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.2);
          border: none;
        }
      }

      p {
        @extend %description-22;
        color: $white;
        margin-bottom: 1.5rem;
      }
    }

    &__continue {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        @extend %description-18;
        color: $white;
        cursor: pointer;
      }
    }

    &__inputs {
      display: flex;
      align-items: center;
      width: 100%;

      div {
        width: 100%;

        p {
          @extend %description-22;
          color: $white;
          margin-bottom: 1.5rem;
        }

        input {
          width: 95%;
          padding: 2rem 4rem;
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.2);
          border-radius: 12px;
          font-size: 16px;
          color: $white;
          margin-bottom: 6rem;
        }
      }
    }
  }

  &__btn {
    margin-right: 2rem;
    cursor: pointer;
    color: $white;
    padding: 2.4rem 4rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    @extend %description-18;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #fff;
      color: #000;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// .active-step {
//   display: flex;
// }

.step-back {
  position: absolute;
  left: 6rem;
  width: 9rem;
  height: 9rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  img {
    width: 2.8rem;
  }
}

.contact-progress {
	width: 100%;
	height: 4px;
	position: absolute;
    bottom: 0;
    left: 0;

	span {
		display: block;
		width: 100%;
		transform: scaleX(0);
		transform-origin: top left;
		height: 100%;
		background: $white;
	}
}

.input-fw {
  width: 50%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
