.hero {
  width: 100%;
  height: 100dvh;
  position: relative;

  &__first {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 920px) {
      align-items: flex-start;
      padding-top: 15rem;
    }
  }

  &__second {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__title {
    width: 90rem;

    @media (max-width: 920px) {
      width: 100%;
      text-align: center;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85%;
    }

    h1 {
      width: inherit;
      @extend %heading-123;
      position: relative;

      .line-heading {
        display: inline-block;
        overflow: hidden;

        div {
          will-change: transform;
          transform: translateY(100%);
        }

        &:nth-child(2) {
          //   margin-left: 2rem;
          //   @media (max-width: 920px) {
          //     margin-left: 0;
          //   }
        }

        &:nth-child(3) {
          //   margin-left: 4rem;
          //   @media (max-width: 920px) {
          //     margin-left: 0;
          //   }
        }

        &:first-child {
          //   margin-left: 14rem;

          @media (max-width: 920px) {
            margin-left: 0;
          }
        }
      }
    }

    p {
      @extend %description-29;
      margin-top: 6rem;
      color: $white;
      will-change: transform, opacity;
      display: block;
      width: 80%;

      @media (max-width: 920px) {
        width: 90%;
        margin: 4rem auto;
      }

      @media (max-width: 640px) {
        display: none;
      }
    }

    .hero-btn {
      @media (max-width: 920px) {
        margin-top: auto;
      }
    }
  }

  &__bg {
    position: absolute;
    top: -30vh;
    right: -50rem;
    z-index: -3;
    width: 100%;
    height: 200vh;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
    @media (max-width: 1024px) {
      width: 120%;
    }

    @media (max-width: 640px) {
      width: 200%;
      top: -55vh;
      right: -43rem;
    }
  }

  &__bg-2 {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: -40%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
    top: 80vh;

    @media (max-width: 640px) {
      left: -60%;
      width: 200%;
      top: 108vh;
    }
  }
}

.results {
  width: 100%;
  //   height: 100vh;
  height: 100dvh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 50vh;
  //   margin-bottom: 20rem;

  &:after {
    @media (max-width: 640px) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40vh;
      background: linear-gradient(
        359.21deg,
        #00000f 0.88%,
        rgba(0, 0, 15, 0) 99.52%
      );
      z-index: 0;
    }
  }

  &__result {
    align-self: flex-start;
    padding-top: calc(100dvh - 71rem);
  }

  .view-all-results {
    position: absolute;
    bottom: 20.8rem;
    right: 31.5rem;
    z-index: 2;

    .button {
      flex-wrap: nowrap;
    }

    p {
      text-wrap: nowrap;
    }

    @media (max-width: 920px) {
      bottom: 24rem;
      right: auto;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100vh;
    height: 100dvh;
    z-index: 1;
  }

  &__nav {
    position: absolute;
    bottom: 9rem;
    left: 12rem;
    z-index: 1;

    @media (max-width: 920px) {
      position: absolute;
      top: 80%;
      left: 5rem;
      transform: translate(-50%, -50%);
      right: auto;
    }

    @media (max-width: 640px) {
      top: auto;
    }

    span {
      color: $white;
      @extend %description-14;
    }
  }

  &__inner {
    width: 100%;
    // height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20rem;
    position: relative;

    @media (max-width: 920px) {
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 10rem;
    }

    @media (max-width: 640px) {
      padding-top: 6rem;
      padding-bottom: 10rem;
    }
  }

  &__problem {
    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 100%;
    }

    div {
      &:first-child {
        overflow: hidden;
        height: auto;

        @media (max-width: 920px) {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }

      &:last-child {
        overflow: hidden;
        margin-top: 6rem;
        width: 50rem;

        @media (max-width: 920px) {
          margin-top: 3rem;
          width: 80%;
          text-align: center;
        }
      }
    }

    h2 {
      line-height: 0.8;
      @extend %heading-322;
      position: relative;
      width: fit-content;
      span {
        font-size: 12%;
        position: absolute;
        top: 3rem;
        right: -3.5rem;

        @media (max-width: 920px) {
          font-size: 15%;
        }
      }
    }
    p {
      @extend %heading-47;
      line-height: 1.1;
      width: 100%;
      min-height: 18rem;
      display: flex;
      align-items: flex-end;
      overflow: hidden;

      @media (max-width: 640px) {
        height: 13rem;
        align-items: center;
      }
    }
  }

  &__result {
    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: auto;
      align-items: flex-end;
    }

    div {
      width: 40rem;
      overflow: hidden;

      @media (max-width: 920px) {
        width: 80%;
      }
    }

    p {
      width: 100%;
      @extend %description-29;
      color: $white;
      overflow: hidden;
      height: 16rem;
      display: flex;
      align-items: flex-end;
    }
  }

  &__border {
    width: calc(100% - 15%);
    z-index: 1;
    position: absolute;
    bottom: 10rem;
    border-bottom: 1px dashed $white;
    left: 10%;
    transform: scaleX(0);
    transform-origin: left top;

    @media (max-width: 920px) {
      left: 5%;
      width: calc(100% - 10%);
    }

    @media (max-width: 640px) {
      bottom: 6rem;
    }
  }

  &__bg {
    position: absolute;
    z-index: -3;
    bottom: -135rem;
    left: -80rem;
    width: 196.2rem;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 2;
  }

  &__trigger {
    position: absolute;
    width: 58.6rem;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 1;

    @media (max-width: 920px) {
      width: 30rem;
      height: 65vh;
      top: 62%;
    }

    @media (max-width: 640px) {
      width: 40rem;
      height: 52vh;
      top: 64%;
    }
  }

  &__label-problem {
    position: absolute;
    left: 12vw;
    top: 24.5%;
    z-index: -1;

    @media (max-width: 920px) {
      //   left: 50%;
      //   transform: translateX(-50%);
      //   top: 15%;
      display: none;
    }

    p {
      @extend %description-14;
      color: $white;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      width: fit-content;
    }
  }

  &__label {
    position: absolute;
    right: 19rem;
    top: 24.5%;
    z-index: -1;

    @media (max-width: 920px) {
      display: none;
    }

    // @media (max-width: 920px) {
    //   right: auto;
    //   left: 5%;
    //   top: 82vh;
    // }

    p {
      @extend %description-14;
      color: $white;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      width: fit-content;
    }
  }

  &__follow {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: $blue;
    // background: rgba(255, 255, 255, 0.02);
    // border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 920px) {
      width: 14rem;
      height: 14rem;
    }

    div {
      height: 16px;
      overflow: hidden;
    }

    p {
      font-size: 14px;
      color: #fff;
      font-family: "Switzer-Variable";
      letter-spacing: 0.015em;
    }
  }
}

.who-we-are {
  z-index: 3;

  .circle-arrow {
    border: 1px dashed $black;

    @media (max-width: 640px) {
      display: none;
    }

    img {
      width: 2.4rem;
    }
  }

  .label {
    color: $black;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6rem;
    align-items: flex-end;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
      align-items: flex-start;
    }

    div {
      h2 {
        @extend %heading-76;
        color: $black;
      }
    }

    svg {
      width: 125%;
      //   transform: rotate(45deg);
      height: 120%;

      @media (max-width: 920px) {
        margin-top: 6rem;
        width: 130%;
        height: 130%;
        margin-left: -15%;
        margin-bottom: 20%;
        margin-top: 0%;
      }

      path {
        right: 0;
        stroke: $black;
      }

      ellipse {
        fill: $blue;
      }
    }

    &__text {
      margin-top: 12rem;
      display: grid;
      grid-template-columns: 13.2rem 1fr;
      align-items: center;

      @media (max-width: 640px) {
        margin-top: 6rem;
        grid-template-columns: 1fr;
      }

      p {
        @extend %description-22;
        color: $black;
        width: 80%;
        margin-left: 17rem;

        @media (max-width: 920px) {
          margin-left: 0rem;
          width: 90%;
        }
      }
    }
  }

  &__two-rows {
    margin-top: 22rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18rem;

    @media (max-width: 920px) {
      margin-top: 15rem;
      grid-template-columns: 1fr;
      gap: 6rem;
    }

    &__row {
      padding-bottom: 8rem;

      p {
        @extend %description-29;
        color: $black;
      }
    }

    .border {
      &:after {
        border-bottom: 1px dashed $black;

        @media (max-width: 640px) {
          display: none;
        }
      }
    }
  }

  &__founders {
    margin: 19rem 0 16rem 0;
    position: relative;
    height: 80rem;
    overflow: hidden;
    border-radius: 12px;
    display: flex;

    @media (max-width: 920px) {
      margin: 6rem 0;
      height: 70rem;
    }

    @media (max-width: 600px) {
      height: 85rem;
    }

    &__inner {
      height: 100%;
      position: relative;
      width: 100%;
      overflow: hidden;
      padding: 6rem 6rem 12rem 6rem;
      flex: 1 0 100%;
      will-change: transform;

      @media (max-width: 920px) {
        padding: 3rem 3rem 6rem 3rem;
      }

      &:nth-child(2) {
        @media (max-width: 640px) {
          .who-we-are__founders__img img {
            object-position: 30%;
          }
        }
      }
    }

    &__text {
      width: 95%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;

      .label {
        border-color: rgba(255, 255, 255, 0.2);
        color: $white;
      }

      h3 {
        @extend %heading-47;
        color: $white;
        width: inherit;
        position: relative;
      }

      p {
        @extend %description-18;
        margin-top: 3rem;
        color: $white;
        font-weight: 500;

        @media (max-width: 920px) {
          margin-top: 3rem;
        }

        span {
          font-style: italic;
          font-weight: 200;
        }
      }
    }

    &__img {
      overflow: hidden;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
      left: 0;
      height: 100%;
      margin: 0 auto;
      right: 0;
      background: $black;

      img {
        opacity: 0.65;
        width: 107%;
        height: 113%;
        object-fit: cover;
        will-change: transform;
      }
    }
  }

  &__cta {
    padding-top: 5rem;
    position: relative;

    @media (max-width: 920px) {
      padding-top: 3rem;
    }

    h2 {
      @extend %heading-123;
      width: 100rem;
      margin: 0 auto;
      color: $blue;

      @media (max-width: 920px) {
        width: 100%;
        text-align: center;
      }

      .line {
        @media (max-width: 920px) {
          text-align: center;
        }

        &:first-child {
          display: block;
          text-align: right;

          @media (max-width: 920px) {
            text-align: center;
          }
        }

        &:last-child {
          display: block;
          margin-left: 8rem;
          @media (max-width: 920px) {
            text-align: center;
            margin-left: 0;
          }
        }
      }
    }

    a {
      margin: 0 auto;
      margin-top: 9rem;
    }

    .button {
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.1);

      p {
        color: $black;
      }
    }

    .button {
      &:after {
        background: $blue;
      }
      &:before {
        background: $blue;
      }
    }
  }

  &__bulets {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6rem;
    left: 6rem;

    @media (max-width: 920px) {
      top: 6rem;
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    span {
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background: $white;
      border-radius: 50%;
      margin-right: 1rem;
      opacity: 0.2;

      @media (max-width: 920px) {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .active-bullet {
      opacity: 1;
    }
  }
}

.clients {
  position: relative;
  //   background: $black;
  padding-top: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-wrapper {
    transition-timing-function: linear;
    pointer-events: none;
  }

  h2 {
    color: #fff;
    font-size: 20px;
  }

  &__bg {
    position: absolute;
    left: -70rem;
    top: -50rem;

    width: 200rem;
    height: 220rem;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;

    @media (max-width: 920px) {
      left: -60rem;
      top: -1rem;
      width: 160rem;
      height: 130rem;
    }
  }
}

.client-slider {
  margin-bottom: 6rem;
  position: relative;
}

.clients__inner {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43.5rem;
    height: 18rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 15, 0.1);
    border-radius: 21px;

    img {
      max-width: 100%;
    }
  }
}

.client {
  flex: 1;
  border-right: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client:last-child {
  border-right: 0;
}

.case-study {
  width: 100%;
  padding-top: 27.5rem;

  .swiper-slide {
    position: relative;
  }

  &__info {
    // width: 50%;

    @media (max-width: 920px) {
      width: 100%;
    }

    h2 {
      color: $white;
      @extend %heading-47;
      width: 50%;

      @media (max-width: 640px) {
        font-size: 30px;
        width: 100%;
      }
    }

    p {
      color: $white;
      @extend %description-18;
      font-weight: 200;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;

    @media (max-width: 640px) {
      flex-wrap: wrap;
    }

    .button {
      @media (max-width: 640px) {
        margin-top: 15px;
        margin-bottom: 30px;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__stats {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;

    @media (max-width: 920px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__stat {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4rem 3rem;
    border-radius: 2rem;

    h3 {
      @extend %heading-76;
      color: $white;
      padding-bottom: 3rem;

      @media (max-width: 640px) {
        font-size: 48px;
      }
    }

    h4 {
      @extend %description-22;
      color: $white;
      padding-bottom: 1rem;

      @media (max-width: 640px) {
        font-size: 18px;
        font-weight: 400;
      }
    }

    p {
      @extend %description-14-normal;
      color: $white;
      opacity: 0.7;

      @media (max-width: 640px) {
        opacity: 1;
        font-size: 14px;
        margin-top: 1.5rem;
        letter-spacing: 0.01em;
      }
    }
  }

  &__img {
    position: absolute;
    top: -15rem;
    right: 0;
    width: 90rem;
    height: 70rem;
    z-index: -2;
    -webkit-mask-image: url($assetsPath + "mask-img.png");
    -webkit-mask-position: center center;
    -webkit-mask-size: cover;
    mask-type: alpha;
    opacity: 0.8;

    @media (max-width: 920px) {
      top: -30rem;
      right: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    @media (max-width: 640px) {
      top: -25rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 920px) {
        // filter: grayscale(1) brightness(0.7);
      }
    }
  }
}

.what-we-do {
  padding-top: 32.5rem;
  padding-bottom: 18rem;
  position: relative;

  @media (max-width: 920px) {
    padding-top: 20rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    position: relative;
    align-items: center;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
      gap: 9rem;
    }

    figure {
      width: 56rem;
      height: 56rem;

      @media (max-width: 920px) {
        width: 90%;
        height: 100%;
        margin: 0 auto;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    h2 {
      @extend %heading-76;
      color: $white;
      letter-spacing: -0.026em;
    }
  }

  &__items {
    padding-top: 16.5rem;
    z-index: 1;
    position: relative;

    @media (max-width: 920px) {
      padding-top: 10.5rem;
    }
  }

  &__item {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 28rem 58rem 58rem;
    gap: 2rem;
    align-items: center;
    min-height: 22rem;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: none;
    }

    h6 {
      @extend %description-18;
      color: $white;
    }

    h3 {
      color: $white;
      @extend %heading-47;
      width: 85%;

      @media (max-width: 640px) {
        font-weight: 400;
      }
    }

    p {
      @extend %description-18;
      color: $white;
      font-weight: 200;
      opacity: 0.7;

      @media (max-width: 640px) {
        opacity: 1;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }

  &__bg {
    position: absolute;
    right: -40%;
    top: -5%;
    z-index: -1;
    width: 130%;
    pointer-events: none;
    backface-visibility: hidden;

    @media (max-width: 920px) {
      right: -305%;
      top: 5%;
      width: 464%;
    }
  }

  &__bg-b {
    position: absolute;
    bottom: 0;
    left: -30%;
    z-index: -1;
    pointer-events: none;
    backface-visibility: hidden;
    width: 90%;

    @media (max-width: 920px) {
      left: -200%;
      width: 350%;
    }
  }
}

.founders-cursor {
  opacity: 0;
  scale: 0;
  position: absolute;
  margin: -5rem 0 0 -5rem;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  background: $blue;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 920px) {
    opacity: 1;
    scale: 1;
    position: absolute;
    transform: none !important;
    top: 8rem;
    left: 80%;

    width: 14rem;
    height: 14rem;
  }

  p {
    color: $white;
    font-size: 12px;
  }
}

.reviews-home {
  position: relative;
  padding-top: 22rem;

  &__img {
    position: absolute;
    top: 20%;
    left: -100%;
    z-index: -1;

    img {
      width: 100%;
      @media (max-width: 920px) {
        width: 400%;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    color: #fff;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    @media (max-width: 920px) {
      margin-bottom: 6rem;
    }

    h2 {
      @extend %heading-76;
      width: 80%;

      @media (max-width: 920px) {
        width: 100%;
      }
    }
  }

  &__rating {
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1.2rem 4.4rem 1.2rem 2.4rem;
    border-radius: 2rem;
    margin-top: 6rem;

    img {
      width: 10rem;
    }

    h3 {
      @extend %heading-47;
      margin-right: 1.5rem;
    }

    p {
      @extend %description-18;
      color: #fff;
      opacity: 0.6;
      line-height: 0.7;
      font-weight: 300;
    }
  }

  &__card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 3rem;

    h2 {
      @extend %description-22;
      line-height: 1.4;
      margin-bottom: 1.5rem;
    }

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(10),
    &:nth-child(11) {
      @media (max-width: 920px) {
        display: none;
      }
    }
  }

  &__client {
    display: flex;
    align-items: center;

    figure {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      @extend %description-18;
      font-weight: 500;
      line-height: 1.2;
    }

    p {
      @extend %description-14-normal;
      font-weight: 300;
      opacity: 0.6;
    }
  }
}

.google-partner {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 920px) {
    display: none;
  }

  a {
    width: 14rem;
    display: block;

    @media (max-width: 920px) {
      margin-left: -2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: 10px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1px;
    width: 58%;
    text-align: right;
    line-height: 1.2;
    opacity: 0.8;

    @media (max-width: 920px) {
      text-align: center;
      width: 100%;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
}

.google-partner-mob {
  display: none;
  flex-direction: column;
  align-items: center;
  @media (max-width: 920px) {
    display: flex;
  }

  a {
    margin-top: 6rem;
    width: 14rem;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: 10px;
    color: #000;
    text-align: center;
    letter-spacing: 0.1px;
    width: 58%;
    text-align: right;
    line-height: 1.2;
    opacity: 0.8;

    @media (max-width: 920px) {
      text-align: center;
      width: 100%;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
}

.general-temp {
  &__hero {
    min-height: 50vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

			@media(max-width: 640px) {
			    min-height: 40vh;
		}

    h1 {
      @extend %heading-123;
      color: #fff;
      text-align: center;
      line-height: 1.1;
	  width: 90%;
    }
  }

  &__content {
    background: #fff;
    border-radius: 12px 12px 0 0;
    padding: 90px 0;
    margin-top: -15px;

	p {
		font-size: 18px;
		line-height: 1.4;
		margin-bottom: 30px;
		color: #4b4b4b;

		@media(max-width: 640px) {
			font-size: 16px;
		}
	}

	li {
		font-size: 18px;
		margin-bottom: 15px;
		list-style: disc;

		
		@media(max-width: 640px) {
			font-size: 16px;
		}

		&:last-child {
		margin-bottom: 30px;	
		}
	}

	ol {
		list-style: decimal;
	
	}

	h2 {
		font-size: 32px;
		line-height: 1.1;
			margin-bottom: 15px;

			
		@media(max-width: 640px) {
			font-size: 28px;
		}
	}
  }
}
