.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  &__first {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 920px) {
      align-items: flex-start;
      padding-top: 15rem;
    }
  }

  &__second {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__title {
    width: 85.5rem;

    @media (max-width: 920px) {
      width: 100%;
      text-align: center;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 85%;
    }

    h1 {
      width: inherit;
      @extend %heading-123;
      position: relative;

      .line-heading {
        display: inline-block;
        overflow: hidden;

        div {
          will-change: transform;
          transform: translateY(100%);
        }

        &:last-child {
          margin-left: 14rem;

          @media (max-width: 920px) {
            margin-left: 0;
          }
        }
      }
    }

    p {
      @extend %description-29;
      margin-top: 6rem;
      color: $white;
      will-change: transform, opacity;
      display: block;

      @media (max-width: 920px) {
        width: 90%;
        margin: 4rem auto;
      }

      @media (max-width: 640px) {
        display: none;
      }
    }

    .hero-btn {
      @media (max-width: 920px) {
        margin-top: auto;
      }
    }
  }

  &__bg {
    position: absolute;
    top: -30vh;
    right: -50rem;
    z-index: -3;
    width: 100%;
    height: 200vh;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;

    @media (max-width: 1024px) {
      width: 120%;
    }

    @media (max-width: 640px) {
      width: 200%;
      top: -55vh;
      right: -43rem;
    }
  }

  &__bg-2 {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: -40%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
    top: 80vh;

    @media (max-width: 640px) {
      left: -60%;
      width: 200%;
      top: 108vh;
    }
  }
}

.results {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 20rem;

  .result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__nav {
    position: absolute;
    top: 25%;
    right: 54rem;
    z-index: 0;

    @media (max-width: 920px) {
      position: absolute;
      top: 80%;
      left: 9%;
      z-index: 0;
      transform: translate(-50%, -50%);
      right: auto;
    }

    span {
      color: $white;
      @extend %description-18;
    }
  }

  &__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20rem;
    position: relative;

    @media (max-width: 920px) {
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 10rem;
    }

    @media (max-width: 640px) {
      padding-top: 15rem;
    }
  }

  &__problem {
    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 100%;
    }

    div {
      &:first-child {
        overflow: hidden;
        height: auto;

        @media (max-width: 920px) {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }

      &:last-child {
        overflow: hidden;
        margin-top: 6rem;
        width: 50rem;
        @media (max-width: 920px) {
          margin-top: 3rem;
          width: 80%;
          text-align: center;
        }
      }
    }

    h2 {
      line-height: 0.8;
      @extend %heading-322;
      position: relative;
      width: fit-content;
      span {
        font-size: 12%;
        position: absolute;
        top: 3rem;
        right: -3.5rem;

        @media (max-width: 920px) {
          font-size: 15%;
        }
      }
    }
    p {
      @extend %heading-47;
      width: 100%;
    }
  }

  &__result {
    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-top: auto;
      align-items: flex-end;
    }

    div {
      width: 36rem;
      overflow: hidden;

      @media (max-width: 920px) {
        width: 70%;
      }
    }

    p {
      width: 100%;
      @extend %description-29;
      color: $white;
    }
  }

  &__border {
    width: calc(100% - 20%);
    position: absolute;
    bottom: 10rem;
    border-bottom: 1px dashed $white;
    left: 10%;
    transform: scaleX(0);
    transform-origin: left top;

    @media (max-width: 920px) {
      left: 5%;
      width: calc(100% - 10%);
    }
  }

  &__bg {
    position: absolute;
    z-index: -3;
    bottom: -135rem;
    left: -80rem;
    width: 196.2rem;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__trigger {
    position: absolute;
    width: 58.6rem;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 1;

    @media (max-width: 920px) {
      width: 30rem;
      height: 65vh;
      top: 62%;
    }

    @media (max-width: 640px) {
      width: 40rem;
      height: 52vh;
      top: 64%;
    }
  }

  &__label-problem {
    position: absolute;
    left: 12vw;
    top: 24.5%;

    @media (max-width: 920px) {
      //   left: 50%;
      //   transform: translateX(-50%);
      //   top: 15%;
      display: none;
    }

    p {
      @extend %description-14;
      color: $white;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      width: fit-content;
    }
  }

  &__label {
    position: absolute;
    right: 19rem;
    top: 24.5%;
    z-index: 1;
  

	@media(max-width: 920px) {
		display: none;
	}

    // @media (max-width: 920px) {
    //   right: auto;
    //   left: 5%;
    //   top: 82vh;
    // }

    p {
      @extend %description-14;
      color: $white;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      width: fit-content;
    }
  }

  &__follow {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 920px) {
      width: 14rem;
      height: 14rem;
    }

    div {
      height: 16px;
      overflow: hidden;
    }

    p {
      font-size: 14px;
      color: #fff;
      font-family: "Switzer-Variable";
      letter-spacing: 0.015em;
    }
  }
}

.who-we-are {
  z-index: 3;

  .circle-arrow {
    border: 1px dashed $black;

    img {
      width: 2.4rem;
    }
  }

  .label {
    color: $black;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6rem;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
    }

    div {
      h2 {
        @extend %heading-76;
        color: $black;
      }
    }

    svg {
      width: 125%;
      transform: rotate(45deg);
      height: 120%;

      @media (max-width: 920px) {
        margin-top: 6rem;
        width: 100%;
        height: 100%;
      }

      path {
        stroke: $black;
      }

      circle {
        fill: $blue;
      }
    }

    &__text {
      margin-top: 12rem;
      display: grid;
      grid-template-columns: 13.2rem 1fr;
      align-items: center;

      @media (max-width: 640px) {
        margin-top: 6rem;
      }

      p {
        @extend %description-22;
        color: $black;
        width: 80%;
        margin-left: 17rem;

        @media (max-width: 920px) {
          margin-left: 6rem;
        }
      }
    }
  }

  &__two-rows {
    margin-top: 22rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18rem;

    @media (max-width: 920px) {
      margin-top: 15rem;
      grid-template-columns: 1fr;
      gap: 6rem;
    }

    &__row {
      padding-bottom: 8rem;

      p {
        @extend %description-29;
        color: $black;
      }
    }

    .border {
      &:after {
        border-bottom: 1px dashed $black;
      }
    }
  }

  &__founders {
    padding: 32.5rem 0 18rem 0;
    position: relative;

    @media (max-width: 920px) {
      padding: 6rem 0;
    }

    &__text {
      position: relative;
      z-index: 1;
      width: 90rem;

      @media (max-width: 920px) {
        width: 100%;
      }

      h3 {
        @extend %heading-47;
        color: $black;
        width: inherit;
        position: relative;
      }

      p {
        @extend %description-18;
        margin-top: 7rem;
        color: $black;
        font-weight: 500;

        @media (max-width: 920px) {
          margin-top: 3rem;
        }

        span {
          font-style: italic;
          font-weight: 200;
        }
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 0;
      width: 119.3rem;
      height: 74.6rem;
      object-fit: cover;

      @media (max-width: 920px) {
        position: relative;
        top: 0;
        transform: inherit;
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__cta {
    padding-top: 5rem;
    position: relative;

    @media (max-width: 920px) {
      padding-top: 3rem;
    }

    h2 {
      @extend %heading-123;
      width: 118rem;
      margin: 0 auto;
      color: $blue;

      @media (max-width: 920px) {
        width: 90%;
      }

      .line {
        &:first-child {
          display: block;
          text-align: right;
        }

        &:last-child {
          display: block;
          margin-left: 8rem;
        }
      }
    }

    a {
      margin: 0 auto;
      margin-top: 9rem;
    }

    .button {
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.1);

      p {
        color: $black;
      }
    }
  }

  &__bulets {
    display: flex;
    align-items: center;
    margin-top: 9rem;

    @media (max-width: 920px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    span {
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background: $black;
      border-radius: 50%;
      margin-right: 1rem;
      opacity: 0.2;
    }

    .active-bullet {
      opacity: 1;
    }
  }
}

.clients {
  position: relative;
  //   background: $black;
  padding-top: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-wrapper {
    transition-timing-function: linear;
    pointer-events: none;
  }

  h2 {
    color: #fff;
    font-size: 20px;
  }

  &__bg {
    position: absolute;
    left: -70rem;
    top: -50rem;

    width: 200rem;
    height: 220rem;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;

    @media (max-width: 920px) {
      left: -60rem;
      top: -1rem;
      width: 160rem;
      height: 130rem;
    }
  }
}

.client-slider {
  margin-bottom: 6rem;
  position: relative;
}

.clients__inner {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43.5rem;
    height: 18rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 21px;

    img {
      max-width: 100%;
    }
  }
}

.client {
  flex: 1;
  border-right: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client:last-child {
  border-right: 0;
}

.case-study {
  width: 100%;
  padding-top: 27.5rem;

  .swiper-slide {
    position: relative;
  }

  &__info {
    width: 50%;

    @media (max-width: 920px) {
      width: 100%;
    }

    h2 {
      color: $white;
      @extend %heading-47;
    }

    p {
      color: $white;
      @extend %description-18;
      font-weight: 200;
      margin-top: 4rem;
    }
  }

  &__stats {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;

    @media (max-width: 920px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__stat {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4rem 3rem;
    border-radius: 2rem;

    h3 {
      @extend %heading-76;
      color: $white;
      padding-bottom: 3rem;
    }

    h4 {
      @extend %description-22;
      color: $white;
      padding-bottom: 1rem;
    }

    p {
      @extend %description-14-normal;
      color: $white;
      opacity: 0.7;
    }
  }

  &__img {
    position: absolute;
    top: -15rem;
    right: 0;
    width: 90rem;
    height: 90rem;
    z-index: -2;
    -webkit-mask-image: url("../assets/mask-img.png");
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-type: alpha;
    opacity: 0.5;

    @media (max-width: 920px) {
      top: -10rem;
      right: 0;
      width: 64rem;
      height: 64rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1) brightness(0.7);
    }
  }
}

.what-we-do {
  padding-top: 32.5rem;
  padding-bottom: 18rem;
  position: relative;

  @media (max-width: 920px) {
    padding-top: 20rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    position: relative;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
      gap: 9rem;
    }

    figure {
      width: 56rem;
      height: 56rem;

      @media (max-width: 920px) {
        width: 90%;
        height: 100%;
        margin: 0 auto;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    h2 {
      @extend %heading-76;
      color: $white;
    }
  }

  &__items {
    padding-top: 16.5rem;
    z-index: 1;
    position: relative;

    @media (max-width: 920px) {
      padding-top: 10.5rem;
    }
  }

  &__item {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 28rem 58rem 58rem;
    gap: 2rem;
    align-items: center;
    min-height: 22rem;

    @media (max-width: 920px) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: none;
    }

    h6 {
      @extend %description-18;
      color: $white;
    }

    h3 {
      color: $white;
      @extend %heading-47;
      width: 85%;
    }

    p {
      @extend %description-18;
      color: $white;
      font-weight: 200;
      opacity: 0.7;
    }
  }

  &__bg {
    position: absolute;
    right: -40%;
    top: -5%;
    z-index: -1;
    width: 130%;
    pointer-events: none;
    backface-visibility: hidden;

    @media (max-width: 920px) {
      right: -305%;
      top: 5%;
      width: 464%;
    }
  }
}
