.content {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  &__first {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__second {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__title {
    width: 85.5rem;

    @media (max-width: 920px) {
      width: 90%;
    }

    h1 {
      width: inherit;
      @extend %heading-123;
      position: relative;

      .line-heading {
        display: inline-block;
        overflow: hidden;

        div {
          will-change: transform;
          transform: translateY(100%);
        }

        &:last-child {
          margin-left: 14rem;

          @media (max-width: 768px) {
            margin-left: 0;
          }
        }
      }
    }

    p {
      @extend %description-29;
      margin-top: 6rem;
      color: $white;
      will-change: transform,opacity;
	  display: block;
    }


  }

  &__bg {
    position: absolute;
    top: -30vh;
    right: -50rem;
    z-index: -3;
    width: 100%;
    height: 200vh;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__bg-2 {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: -40%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
    top: 80vh;
  }
}

.results {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 20rem;

  .result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 25%;
    right: 24rem;
    z-index: 0;

    span {
      color: $white;
      @extend %description-18;
    }
  }

  &__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20rem;
    position: relative;
  }

  &__problem {
    div {
      &:first-child {
        overflow: hidden;
        height: 30rem;
      }

      &:last-child {
        overflow: hidden;
        margin-top: 6rem;
        width: 50rem;
      }
    }

    h2 {
      @extend %heading-322;
      position: relative;
      width: fit-content;
      span {
        font-size: 12%;
        position: absolute;
        top: -7.8rem;
        right: -3.5rem;
      }
    }
    p {
      @extend %heading-47;
      width: 100%;
    }
  }

  &__result {
    div {
      width: 36rem;
      overflow: hidden;
    }

    p {
      width: 100%;
      @extend %description-29;
      color: $white;
    }
  }

  &__border {
    position: absolute;
    bottom: 10rem;
    width: 80%;
    border-bottom: 1px dashed $white;
    left: 10%;
    transform: scaleX(0);
    transform-origin: left top;
  }

  &__bg {
    position: absolute;
    z-index: -3;
    bottom: -135rem;
    left: -80rem;
    width: 196.2rem;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &__trigger {
    position: absolute;
    width: 58.6rem;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    z-index: 1;
  }

  &__label {
    position: absolute;
    right: 24vw;
    top: 55vh;
    p {
      @extend %description-14;
      color: $white;
      padding: 1.2rem 2.4rem;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      width: fit-content;
    }
  }

  &__follow {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      height: 16px;
      overflow: hidden;
    }

    p {
      font-size: 14px;
      color: #fff;
      font-family: "Switzer-Variable";
      letter-spacing: 0.015em;
    }
  }
}

.who-we-are {
  z-index: 3;

  .circle-arrow {
    border: 1px dashed $black;

    img {
      width: 2.4rem;
    }
  }

  .label {
    color: $black;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6rem;

    div {
      h2 {
        @extend %heading-76;
        color: $black;
      }
    }

    svg {
      width: 130%;
      transform: rotate(45deg);
      margin-left: -3rem;
      height: 100%;

      path {
        stroke: $black;
      }

      circle {
        fill: $blue;
      }
    }

    &__text {
      margin-top: 12rem;
      display: grid;
      grid-template-columns: 13.2rem 1fr;
      align-items: center;

      p {
        @extend %description-22;
        color: $black;
        width: 80%;
        margin-left: 17rem;
      }
    }
  }

  &__two-rows {
    margin-top: 22rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18rem;

    &__row {
      padding-bottom: 8rem;

      p {
        @extend %description-29;
        color: $black;
      }
    }

    .border {
      &:after {
        border-bottom: 1px dashed $black;
      }
    }
  }

  &__founders {
    padding: 32.5rem 0 18rem 0;
    position: relative;

    &__text {
      position: relative;
      z-index: 1;
      width: 90rem;

      h3 {
        @extend %heading-47;
        color: $black;
        width: inherit;
        position: relative;
      }

      p {
        @extend %description-18;
        margin-top: 7rem;
        color: $black;
        font-weight: 500;
        span {
          font-style: italic;
          font-weight: 200;
        }
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 0;
      width: 119.3rem;
      height: 74.6rem;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__cta {
    padding-top: 5rem;
    position: relative;

    h2 {
      @extend %heading-123;
      width: 118rem;
      margin: 0 auto;
      color: $blue;

      .line {
        &:first-child {
          display: block;
          text-align: right;
        }

        &:last-child {
          display: block;
          margin-left: 8rem;
        }
      }
    }

    a {
      margin: 0 auto;
      margin-top: 9rem;
    }

    .button {
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.1);

      p {
        color: $black;
      }
    }
  }

  &__bulets {
    display: flex;
    align-items: center;
    margin-top: 9rem;

    span {
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background: $white;
      border-radius: 50%;
      margin-right: 1rem;
      opacity: 0.5;
    }

    .active-bullet {
      opacity: 1;
    }
  }
}

.clients {
  position: relative;
  //   background: $black;
  padding-top: 9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-wrapper {
    transition-timing-function: linear;
    pointer-events: none;
  }

  h2 {
    color: #fff;
    font-size: 20px;
  }

  &__bg {
    position: absolute;
    left: -70rem;
    top: -50rem;

    width: 200rem;
    height: 220rem;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    backface-visibility: hidden;
  }
}

.client-slider {
  margin-bottom: 6rem;
  position: relative;
}

.clients__inner {
  position: relative;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43.5rem;
    height: 18rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 21px;

    img {
      max-width: 100%;
    }
  }
}

.client {
  flex: 1;
  border-right: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client:last-child {
  border-right: 0;
}

.case-study {
  width: 100%;
  //   background: $black;
  padding-top: 27.5rem;

  .swiper-slide {
    position: relative;
  }

  &__info {
    width: 50%;

    h2 {
      color: $white;
      @extend %heading-47;
    }

    p {
      color: $white;
      @extend %description-18;
      font-weight: 200;
      margin-top: 4rem;
    }
  }

  &__stats {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
  }

  &__stat {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4rem 3rem;
    border-radius: 2rem;

    h3 {
      @extend %heading-76;
      color: $white;
      padding-bottom: 3rem;
    }

    h4 {
      @extend %description-22;
      color: $white;
      padding-bottom: 1rem;
    }

    p {
      @extend %description-14-normal;
      color: $white;
      opacity: 0.7;
    }
  }

  &__img {
    position: absolute;
    top: -15rem;
    right: 0;
    width: 90rem;
    height: 90rem;
    z-index: -2;
    -webkit-mask-image: url("../assets/mask-img.png");
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-type: alpha;
    opacity: 0.5;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1) brightness(0.7);
    }
  }
}

.what-we-do {
  padding-top: 32.5rem;
  padding-bottom: 18rem;
  position: relative;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    position: relative;

    figure {
      width: 56rem;
      height: 56rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    h2 {
      @extend %heading-76;
      color: $white;
    }
  }

  &__items {
    padding-top: 16.5rem;
    z-index: 1;
    position: relative;
  }

  &__item {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 28rem 58rem 58rem;
    gap: 2rem;
    align-items: center;
    min-height: 22rem;

    &:last-child {
      border-bottom: none;
    }

    h6 {
      @extend %description-18;
      color: $white;
    }

    h3 {
      color: $white;
      @extend %heading-47;
      width: 85%;
    }

    p {
      @extend %description-18;
      color: $white;
      font-weight: 200;
      opacity: 0.7;
    }
  }

  &__bg {
    position: absolute;
    right: -40%;
    top: -5%;
    z-index: -1;
    width: 130%;
    pointer-events: none;
    backface-visibility: hidden;
  }
}
