.resuts-page {
  min-height: 100dvh;

  @media (max-width: 920px) {
    // padding-top: calc(100dvh - 14rem);
  }

  .mob-heading {
    display: none;
    position: fixed;
    top: 26rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    text-align: center;

    h1 {
      color: #fff;
      @extend %description-22;
    }

    @media (max-width: 920px) {
      display: block;
    }
  }
}

.sidebar {
  background: $light;
  width: 60rem;
  position: fixed;
  top: 10rem;
  left: 6rem;
  border-radius: 20px;
  height: calc(100vh - 14rem);
  z-index: 5;
  display: none;
  //   transform: translateX(-100%);
  will-change: transform;

  @media (max-width: 920px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: calc(100svh - 14rem);
  }

  &__inner {
    padding: 4rem 2rem 0rem 4rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  &__rating {
    display: flex;
    align-items: center;

    img {
      height: 2.4rem;
    }

    span {
      @extend %heading-76;
      color: $black;
      display: block;
      margin: 0;
      overflow: 0;
      line-height: 0.75;
    }

    p {
      @extend %description-14;
      margin: 0;
      text-transform: inherit;
      color: #a0a1a3;
      margin-left: 3px;
    }

    div {
      margin-left: 1.5rem;
    }
  }

  &__client {
    display: flex;
    align-items: center;

    &__image {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      @extend %description-18;
    }

    div {
      margin-left: 1rem;

      img {
        height: 1.6rem;
      }
    }
  }

  &__category {
    position: relative;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 75%;
      right: 0;
      border-bottom: 1px dashed #9b9b9b;
    }

    span {
      @extend %description-14;
      display: block;
      background: #cddcff;
      color: $blue;
      padding: 1.1rem 2rem;
      width: fit-content;
      border-radius: 50px;
      position: relative;
    }
  }

  &__testimonial {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 2.4rem;
      border-bottom: 1px dashed #9b9b9b;
      h2 {
        @extend %description-18;
        line-height: 1.4;
      }

      &:last-child {
        border-bottom: none;
        padding-top: 2rem;
        margin-top: 0;
      }
    }

    &__author {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      figure {
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 1rem;

        @media (max-width: 920px) {
          width: 6.4rem;
          height: 6.4rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        @extend %description-18;
        font-weight: 500;
        line-height: 1.2;
      }

      p {
        @extend %description-14-normal;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__challenge {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        font-weight: 300;
      }
    }
  }

  &__blue-box {
    background: $blue;
    font-weight: 300;
    padding: 2.4rem;
    border-radius: 12px;
    margin-bottom: 3rem;
    color: #fff;
    @extend %description-18;
  }

  &__list {
    li {
      @extend %description-16;
      margin-bottom: 1.6rem;
      line-height: 1.25;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        background: url("/wp-content/themes/case/front/assets/bullet.svg");
        width: 1.6rem;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1.8rem;
        margin-right: 1.5rem;
        flex-shrink: 0;

        @media (max-width: 920px) {
          width: 2.4rem;
          height: 2.6rem;
        }
      }
    }
  }
  &__solution {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        font-weight: 300;
      }
    }
  }

  &__results {
    margin-bottom: 3rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        margin-bottom: 3rem;
        font-weight: 300;
      }
    }
  }
}

.o-s {
  h2 {
    @extend %description-18;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  h3 {
    @extend %description-22;
    margin-top: 1.5rem;

    b {
      color: $blue;
    }
  }

  &__table {
    border: 1px dashed #9b9b9b;
    border-radius: 12px;
    padding: 1.6rem;

    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: flex-end;

      div {
        h2 {
          @extend %heading-47;
          line-height: 1.1;
          color: #fff;
          margin-bottom: 0;
        }

        p {
          @extend %description-14;
          margin-top: 0.5rem;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 0;
        }
      }
    }

    &__graph {
      height: 23rem;
      position: relative;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      h3 {
        @extend %description-14;

        position: absolute;
        bottom: -2rem;
        text-align: center;
        width: 100%;
      }

      &__footer {
        margin-top: 5rem;
      }
    }

    &__footer {
      margin-top: 4rem;
      border-top: 1px dashed #9b9b9b;
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        @extend %description-18;
      }

      p {
        @extend %description-18;
        padding: 0.7rem 3rem;
        background: #cddcff;
        color: #4e85ff;
        border-radius: 40px;
      }
    }
  }

  .new-item {
    background: $blue;
    height: 100%;
  }

  .old-item {
    background: #9178cb;
    height: 50%;
  }
}

.t-v {
  margin-top: 6rem;

  h2 {
    @extend %description-18;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  figure {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }

  h3 {
    @extend %description-22;
    margin-top: 1.5rem;
    line-height: 1.2;

    b {
      color: $blue;
    }
  }
}

.modal {
  z-index: 5;
  position: fixed;
  width: 400px;
  height: 80vh;
  left: 6rem;
  top: 12rem;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
}

.results-slider {
  position: absolute;
  width: 50rem;
  left: 50%;
  bottom: 6rem;
  z-index: 5;
  transform: translateX(-50%);

  @media (max-width: 920px) {
    z-index: 2;
    position: fixed;
    top: 70%;
    bottom: auto;
    display: none;
  }

  h1 {
    text-align: center;
    color: #fff;
    @extend %description-18;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  &__slide {
    height: 7.2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex: 0 0 7.2rem;
    cursor: pointer;

    @media (max-width: 920px) {
      height: 12rem;
      flex: 0 0 12rem;
    }

    &.active {
      background: $white;
      box-shadow: 0 0 30px 15px $blue;
    }

    figure {
      width: 6.4rem;
      height: 6.4rem;

      @media (max-width: 920px) {
        width: 10rem;
        height: 10rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.results-swipe {
  display: none;

  @media (max-width: 920px) {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 17rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  p {
    color: $white;
    @extend %description-18;
  }
}

.drag-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 55rem;
  margin-bottom: 3rem;
  border-radius: 12px;
  user-select: none;

  @media (max-width: 920px) {
    width: 60%;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 58rem;
  }
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.before-image,
.after-image {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the image fits */
  user-select: none;
}

.after-image {
  clip-path: inset(0 92% 0 0); /* Initial reveal */
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 8%;
  width: 8px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(53, 115, 255, 0.1) 0%,
    #3573ff 50%,
    rgba(53, 115, 255, 0.1) 100%
  );
  cursor: ew-resize;
  transform: translateX(-50%);

  span {
    user-select: none;
    width: 54px;
    height: 54px;
    background: #3573ff;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 22.2px 8px #0000004d;

    &:before {
      content: "Before";
      position: absolute;
      font-size: 12px;
      color: #fff;
      background: #3573ff;
      padding: 4px 8px;
      border-radius: 50px;
      right: -85%;
    }

    &:after {
      content: "After";
      position: absolute;
      font-size: 12px;
      color: #fff;
      background: #3573ff;
      padding: 4px 8px;
      border-radius: 50px;
      left: -70%;
    }

    @media (max-width: 1260px) {
      width: 7.2rem;
      height: 7.2rem;
    }

    @media (max-width: 640px) {
      width: 8.6rem;
      height: 8.6rem;
    }

    img {
      pointer-events: none;
      user-select: none;
      width: 2.6rem;
      filter: brightness(5);

      @media (max-width: 1260px) {
        width: 4rem;
      }
    }
  }
}

.grid-btn {
  position: fixed;
  backdrop-filter: blur(19px);
  top: 3rem;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 1rem 3rem 1rem 1.5rem;
  cursor: pointer;
  overflow: hidden;
  // height: 4.2rem;

  @media (max-width: 920px) {
    top: 14rem;
    padding: 2rem 4rem 2rem 2.5rem;
    z-index: 4;
  }

  &:hover {
    background: $blue;
    border: 1px solid $blue;
    transition: all 0.2s ease-out;

    svg path {
      fill: #fff;
    }
  }

  &__text {
    @extend %description-14;
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 1;

    @media (max-width: 920px) {
      font-size: 14px;
      white-space: nowrap;
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.5rem;

      @media (max-width: 920px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  .see-cases__text {
    transform: translateY(100%);
    position: absolute;

    @extend %description-14;
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 1;

    @media (max-width: 920px) {
      font-size: 14px;
      white-space: nowrap;
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.5rem;

      @media (max-width: 920px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.grids {
  display: none;

  &.active {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;

    z-index: 2;

    h2 {
      font-size: 50px;
      color: #fff;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    padding-top: 12rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 920px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    padding: 3rem 1.5rem 0 1.5rem;
    will-change: transform, opacity;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__heading {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        @extend %description-22;
        font-weight: 500;
        color: #fff;
      }

      p {
        color: rgba(255, 255, 255, 0.3);
        @extend %description-16;
      }
    }

    &__search-term {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.5rem;
      span {
        @extend %description-14;
        display: block;
        margin-top: 1px;
      }

      p {
        @extend %description-14-normal;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        margin-top: 1rem;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: #3573ff;
        font-weight: 600;

        @media (max-width: 920px) {
          font-size: 14px;
        }
      }
    }

    &__notes {
      margin-bottom: 1.5rem;

      p {
        @extend %description-14-normal;
        color: #fff;
      }
    }

    &__imgs {
      width: 100%;

      .drag-container {
        width: 100%;
        height: 33rem;
        margin-bottom: 1.5rem;

        @media (max-width: 1400px) {
          height: 45rem;
        }

        @media (max-width: 640px) {
          height: 55rem;
        }

        .after-image {
          // filter: hue-rotate(309deg) invert(1) saturate(1.5) brightness(1.1);

          // filter: sepia(100%) brightness(0.95) hue-rotate(357deg) invert(1) saturate(1.8);
          width: 100%;
          height: 100%;
        }

        .before-image {
          // filter: hue-rotate(104deg) invert(1) brightness(0.7) saturate(1);
          // filter: sepia(100%) brightness(0.95) hue-rotate(119deg) invert(1) saturate(1);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
