.resuts-page {
  min-height: 100dvh;

  @media (max-width: 920px) {
    padding-top: calc(100dvh - 14rem);
  }

  .mob-heading {
    display: none;
    position: fixed;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    text-align: center;

    h1 {
      color: #fff;
      @extend %description-22;
    }

    @media (max-width: 920px) {
      display: block;
    }
  }
}

.sidebar {
  background: $light;
  width: 60rem;
  position: fixed;
  top: 10rem;
  left: 6rem;
  border-radius: 20px;
  height: calc(100vh - 14rem);
  z-index: 5;
  display: none;
  //   transform: translateX(-100%);
  will-change: transform;

  @media (max-width: 920px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &__inner {
    padding: 4rem 2rem 0rem 4rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  &__rating {
    display: flex;
    align-items: center;

    img {
      height: 2.4rem;
    }

    span {
      @extend %heading-76;
      color: $black;
      display: block;
      margin: 0;
      overflow: 0;
      line-height: 0.75;
    }

    p {
      @extend %description-14;
      margin: 0;
      text-transform: inherit;
      color: #a0a1a3;
      margin-left: 3px;
    }

    div {
      margin-left: 1.5rem;
    }
  }

  &__client {
    display: flex;
    align-items: center;

    &__image {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      @extend %description-18;
    }

    div {
      margin-left: 1rem;

      img {
        height: 1.6rem;
      }
    }
  }

  &__category {
    position: relative;
    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 75%;
      right: 0;
      border-bottom: 1px dashed #9b9b9b;
    }

    span {
      @extend %description-14;
      display: block;
      background: #cddcff;
      color: $blue;
      padding: 1.1rem 2rem;
      width: fit-content;
      border-radius: 50px;
      position: relative;
    }
  }

  &__testimonial {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 2.4rem;
      border-bottom: 1px dashed #9b9b9b;
      h2 {
        @extend %description-18;
        line-height: 1.4;
      }

      &:last-child {
        border-bottom: none;
        padding-top: 2rem;
        margin-top: 0;
      }
    }

    &__author {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      figure {
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 1rem;

        @media (max-width: 920px) {
          width: 6.4rem;
          height: 6.4rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        @extend %description-18;
        font-weight: 500;
        line-height: 1.2;
      }

      p {
        @extend %description-14-normal;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__challenge {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        font-weight: 300;
      }
    }
  }

  &__blue-box {
    background: $blue;
    font-weight: 300;
    padding: 2.4rem;
    border-radius: 12px;
    margin-bottom: 3rem;
    color: #fff;
    @extend %description-18;
  }

  &__list {
    li {
      @extend %description-16;
      margin-bottom: 1.6rem;
      line-height: 1.25;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        background: url("/wp-content/themes/case/front/assets/bullet.svg");
        width: 1.6rem;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1.8rem;
        margin-right: 1.5rem;
        flex-shrink: 0;

        @media (max-width: 920px) {
          width: 2.4rem;
          height: 2.6rem;
        }
      }
    }
  }
  &__solution {
    margin-bottom: 4rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        font-weight: 300;
      }
    }
  }

  &__results {
    margin-bottom: 3rem;
    &__inner {
      margin-top: 3rem;

      p {
        @extend %description-18;
        margin-bottom: 3rem;
        font-weight: 300;
      }
    }
  }
}

.o-s {
  h2 {
    @extend %description-18;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  h3 {
    @extend %description-22;
    margin-top: 1.5rem;

    b {
      color: $blue;
    }
  }

  &__table {
    border: 1px dashed #9b9b9b;
    border-radius: 12px;
    padding: 1.6rem;

    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: flex-end;

      div {
        h2 {
          @extend %heading-47;
          line-height: 1.1;
          color: #fff;
          margin-bottom: 0;
        }

        p {
          @extend %description-14;
          margin-top: 0.5rem;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 0;
        }
      }
    }

    &__graph {
      height: 23rem;
      position: relative;
      width: 100%;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      h3 {
        @extend %description-14;

        position: absolute;
        bottom: -2rem;
        text-align: center;
        width: 100%;
      }

      &__footer {
        margin-top: 5rem;
      }
    }

    &__footer {
      margin-top: 4rem;
      border-top: 1px dashed #9b9b9b;
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        @extend %description-18;
      }

      p {
        @extend %description-18;
        padding: 0.7rem 3rem;
        background: #cddcff;
        color: #4e85ff;
        border-radius: 40px;
      }
    }
  }

  .new-item {
    background: $blue;
    height: 100%;
  }

  .old-item {
    background: #9178cb;
    height: 50%;
  }
}

.t-v {
  margin-top: 6rem;

  h2 {
    @extend %description-18;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  figure {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }

  h3 {
    @extend %description-22;
    margin-top: 1.5rem;
    line-height: 1.2;

    b {
      color: $blue;
    }
  }
}

.modal {
  z-index: 5;
  position: fixed;
  width: 400px;
  height: 80vh;
  left: 6rem;
  top: 12rem;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
}

.results-slider {
  position: absolute;
  width: 50rem;
  left: 50%;
  bottom: 6rem;
  z-index: 5;
  transform: translateX(-50%);

  @media (max-width: 920px) {
    z-index: 2;
    position: fixed;
    top: 70%;
    bottom: auto;
    display: none;
  }

  h1 {
    text-align: center;
    color: #fff;
    @extend %description-18;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__slide {
    height: 7.2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex: 0 0 7.2rem;
    cursor: pointer;

    @media (max-width: 920px) {
      height: 12rem;
      flex: 0 0 12rem;
    }

    &.active {
      background: $white;
      box-shadow: 0 0 30px 15px $blue;
    }

    figure {
      width: 6.4rem;
      height: 6.4rem;

      @media (max-width: 920px) {
        width: 10rem;
        height: 10rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.results-swipe {
	display: none;

	@media(max-width: 920px) {
	
		position: fixed;
		z-index: 2;
		left: 0;
		bottom: 17rem;
		width: 100%;
		align-items: center;
		justify-content: center;

	}

	p {
		color: $white;
		@extend %description-18;
	}
}