@font-face {
  font-family: "Switzer-Variable";
  src: url("../assets/fonts/Switzer-Variable.woff2") format("woff2"),
    url("../assets/fonts/Switzer-Variable.woff") format("woff"),
    url("../assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

%heading-322 {
  font-family: "Switzer-Variable";
  font-size: 32.2rem;
  color: $light;
  line-height: 96%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-weight: 300;

  @media (max-width: 920px) {
    font-size: 21.5rem;
  }
}

%heading-123 {
  font-family: "Switzer-Variable";
  font-size: 12.3rem;
  color: $light;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  line-height: 84.5%;
  font-weight: 700;

  @media (max-width: 920px) {
    font-size: 8.2rem;
  }
}

%heading-76 {
  font-family: "Switzer-Variable";
  font-size: 7.6rem;
  color: $light;
  letter-spacing: -0.01em;
  line-height: 110%;
  font-weight: 300;

  @media (max-width: 920px) {
    font-size: 5.1rem;
  }

  //   @media (max-width: 640px) {
  //     font-size: 47px;
  //   }
}

%heading-47 {
  font-family: "Switzer-Variable";
  font-size: 4.7rem;
  color: $light;
  letter-spacing: -0.01em;
  line-height: 125%;
  font-weight: 300;

  @media (max-width: 920px) {
    font-size: 3.1rem;
  }

  @media (max-width: 640px) {
    font-size: 3.6rem;
  }

  //   @media (max-width: 640px) {
  //     font-size: 32px;
  //   }
}

%description-29 {
  font-family: "Switzer-Variable";
  letter-spacing: 0.005em;
  font-size: 2.9rem;
  line-height: 125%;
  font-weight: 250;

  @media (max-width: 920px) {
    font-size: 1.93rem;
    font-weight: 300;
  }

  @media (max-width: 640px) {
    font-size: 18px;
  }
}

%description-22 {
  font-family: "Switzer-Variable";
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 2.2rem;
  line-height: 150%;
  font-weight: 300;

  @media (max-width: 920px) {
    font-size: 1.46rem;
  }

  @media (max-width: 640px) {
    font-size: 18px;
    line-height: 1.2;
  }
}

%description-18 {
  font-family: "Switzer-Variable";
  letter-spacing: 0.015em;
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;

  @media (max-width: 920px) {
    font-size: 1.2rem;
  }

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

%description-16 {
	font-family: "Switzer-Variable";
	letter-spacing: 0.015em;
	font-weight: 400;
	font-size: 1.6rem;

	@media (max-width: 920px) {
		font-size: 1rem;

	  }

	  @media (max-width: 640px) {
		font-size: 13px;
	  }
}

%description-14 {
  font-family: "Switzer-Variable";
  font-size: 1.2rem;
  line-height: 84.5%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 500;

  @media (max-width: 640px) {
    font-size: 11px;
  }
}

%description-14-normal {
  font-family: "Switzer-Variable";
  font-size: 1.4rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  font-weight: 400;

  @media (max-width: 640px) {
    font-size: 11px;
  }
}
